.ui.grid
  .seven.wide.column{style: 'text-align: center !important'}
    %p{style: 'font-size: 40px !important'}
      %b Nº Pasta
    %p{style: 'font-size: 40px !important'}= @winner.participation_id
  .two.wide.column
  .seven.wide.column{style: 'text-align: center !important'}
    %p{style: 'font-size: 40px !important'}
      %b Nº de inscrição
    %p{style: 'font-size: 40px !important'}= @winner.participation.candidate.id
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
