.row
  .column
    %h3 Vencedores
.ui.divider.hidden
.row
  .column.text-center#form
    = render 'form'
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
