.row
  .column
    %h3 Formulário de envio de consulta
  .ui.divider.hidden
  .column
    - if Date.current >= @project.consult_start && Date.current <= @project.consult_end
      = render 'form'
    - else
      %i Consultas não estão abertas. Consulte o cronograma.
