.row
  .column
    %h3 Obrigado! 
  .ui.divider.hidden
  .column
    Sua indicação foi realizada com sucesso! 
    %br/
    %br/
    %p
      %b Seu número de controle é #{@control_number + 1}, você poderá visualizar este número sempre que quiser dentro de sua área restrita.