.row
  .column
    %h3 Formulário de indicação para visistas técnicas 
  .ui.divider.hidden
  .column
    %p
      De acordo com o informe nº 25, de 03 de setembro de 2017, disponibilizamos nesta página o formulário que tem o objetivo de receber, do responsável pela inscrição, a indicação do componente da equipe que deverá participar da visita técnica, coordenada pela Secretaria do meio Ambiente do Ceará (SEMA). 
    %br/
    %br/

    %p 
      %b Identificação do titular

    %br/

    %p Antes de efetuar a indicação, por favor, informe os seus dados de acesso: 

    - if Date.current <= Date.parse('2017-09-27')
      = render 'form'
    - else
      %p
        %b O prazo para indicação já se encerrou. 

    %br/
    %br/

    %p
      %b 1. Visita por terra 
    %p 1.1. Em 02 de outubro, o percurso será feito da ÁREA 01- Polo de Lazer da Aerolândia - até a ÁREA 08 – Barreiros; 
    %p 1.2. Em 03 de outubro, o percurso será retomado da ÁREA 08 até a ÁREA 17 – Polo de Lazer do Tancredo Neves; 
    %p 1.3. Vagas disponíveis: 37 (trinta e sete); 
    %p 1.4. O local de encontro para a visita de 02 de outubro será na sede do Batalhão da Polícia Militar Ambiental (BPMA) situada à Av. Governador Raul Barbosa, no Polo de Lazer da Aerolândia. O horário será divulgado mediante informe na Página Oficial do Concurso; 
    %p 1.5. O local e horário de encontro para a visita de 03 de outubro serão definidos e comunicados aos participantes ao término da visita do dia anterior, 02 de outubro, e também serão publicados nos “Informes” na Página do Concurso. 

    %br/
    %p 
      %b 2. Passeio pelo leito do rio Cocó
    %p 2.1. Em 04 de outubro (quarta-feira), o percurso será entre o píer acessado pela Av. Sebastião de Abreu até a foz do rio na ÁREA 09 - Caça e Pesca -, com retorno ao ponto de partida; 
    %p 2.2. Vagas disponíveis: 15 (quinze); 
    %p 2.3. Local de encontro: Av. Sebastião de Abreu em frente ao acesso ao parque pela ÁREA 07, Bairro Cocó; 
    %p 2.4. O horário será definido e comunicado aos participantes ao término da visita do dia 03 de outubro, bem como mediante informe na Página do Concurso. 

    %br/

    %p
      %b 3. Inscrições
    %p 3.1. As inscrições estarão abertas durante 03 (três) dias no período de 25 a 27 de setembro de 2017 e somente poderão ser realizadas por via eletrônica, a partir das 00h01min do dia 25 de outubro e encerradas às 23h59min do dia 27 de setembro, observado o horário oficial de Brasília/DF; 
    %p 3.2. As inscrições são restritas aos candidatos inscritos no concurso; 
    %p 3.3. As 37 (trinta e sete) vagas para visita por terra e as 15 (quinze) para o passeio de barco serão preenchidas por ordem de inscrição; 
    %p 3.4. A promotora e organizadora do certame providenciará transporte (micro-ônibus) para o deslocamento entre as 17 (dezessete) áreas; 
    %p 3.5. O deslocamento pelo leito do rio será com barco a motor também cedido pela SEMA; 
    %p 3.6. Para os candidatos interessados em percorrer o trajeto por terra em veículo particular, as vagas estão liberadas, no entanto deverão também fazer suas inscrições na Página do Concurso. 
    %p 3.7. O coordenador da equipe será o responsável pela inscrição para os 02 (dois) tipos de visita, devendo informar o número da inscrição no certame, bem como o nome e CPF do profissional representante de sua equipe; 
    %p 3.8. No ato da inscrição, o coordenador receberá um número para controle; 
    %p 3.9. Será aceita a inscrição de 01 (um) único componente da equipe; 
    %p 3.10. Caso sobrem vagas nos veículos fornecidos pela SEMA, as vagas poderão ser preenchidas pelo segundo componente de uma mesma equipe, seguindo também a ordem de inscrição; 
    %p 3.11. Os candidatos serão informados em 28 de setembro, logo após o encerramento das inscrições no dia anterior; 
    %p 3.12. As visitas serão acompanhadas por representantes do Departamento do Ceará do Instituto de Arquitetos do Brasil (IAB-CE) e da SEMA. 
    %p 3.13. Um conjunto de regras para o melhor aproveitamento da visita técnica a cada área será publicado em “Informes” na Página do Concurso dias antes da realização da visita.
