.row
  .column
    %h3 Formulário de envio de recurso
  .ui.divider.hidden
  .column
    Seu recurso foi realizado com sucesso! Código de autenticação #{@resource.id}#{@resouce.created_at.strftime("%Y")}.
