%br/
%br/
%br/
.ui.grid{style: 'text-align: center'}
  .eight.wide.column
    %h1= link_to "Minha Inscrição", new_project_restrict_session_path(@project)
    %small Clique para realizar seu acesso.
  .eight.wide.column
    %h1= link_to "Nova Inscrição", new_project_candidate_path(@project)
    %small Clique para inciar o processo de inscrição.
%br/
%br/
%br/