:javascript
  fbq('track', 'Lead');
.row
  .column
    %h3 Formulário de inscrição
    = link_to "Accessar área restrita", new_project_restrict_session_path(@project)
  .ui.divider.hidden
  .column
    - if Date.current >= @project.subscribe_start 
      = render 'form'
    - else
      %i Inscrições não estão abertas. Consulte o cronograma.
