.row
  .column
    %h3 Participações
.ui.divider.hidden
.row
  .column
    %table.ui.table.striped.celled.bordered
      %thead
        %tr
          %th{colspan: 3}
            Projetos finalizados: #{@participations.where(closed: true).count}
    %table.ui.table.striped.celled.bordered
      %thead
        %tr
          %th.collapsing Nº da pasta
          %th Data/Hora
          %th Ação
      %tbody
        - @participations.each do |participation|
          %tr
            %td= participation.id
            %td= participation.updated_at.strftime("%d/%m/%Y %H:%M") rescue 'Não finalizado'
            %td.collapsing= link_to "Visualizar projeto", manager.project_participation_path(@project, participation), class: 'ui button green tiny', data: { disable_with:  'Carregando...'}
