:javascript
  fbq('track', 'ViewContent');
- if @project.home_page.present?
  %h3 #{@project.home_page.name.humanize}
  .ui.divider
  %p #{@project.home_page.content.html_safe}

- else
  %i Nenhuma página de apresentação selecionada.